dist
linux-dist
linux-dist-old
dos-dist
dos-dist-old
imagepack
libs
builddir
cabal-dev
.cabal-sandbox
cabal.sandbox.config
agitki
tmp
shizik
volnov
test
novae
nariman

output*
cloudflare-ban*
cloudflare-captcha*
404*
403*
503*
bad*
banned*
dead*
test*

Setup
*.txt
*.zip
*.bak
.windows-serial
*NOTES
*.wire
*.htm
*.html
config.json
config.json.old.faulty
log.txt
log.txt.bak
VersionIncrementerMain
DownloadsUploader
